<section id="contact" class="contact section-padding">
  <div class="container">
    <div class="contact__wrapper">
      <span class="section-subtitle">ЗВ'ЯЗОК</span>
      <h2 class="section-title">ОБГОВОРИМО <span class="blue-text">ВАШ ПРОЄКТ</span></h2>
      <div class="contact__container">
        <div class="contact__email">
          <p>Email:</p>
          <a class="email-link">pavlobzdel&#64;gmail.com</a>
        </div>

        <div class="contact__socials">
          <p>Соціальні мережі:</p>
          <a href="https://t.me/Pavlo_Bzdel" target="_blank" class="social-icon-btn" title="Telegram">
            <img src="assets/images/telegram.png" alt="telegram">
          </a>

          <a href="https://www.instagram.com/pavlobzdel_chef/" target="_blank" class="social-icon-btn" title="Instagram">
            <img src="assets/images/instagram.png" alt="instagram">
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
