<section id="projects" class="projects section-padding">
  <div class="container">
    <span class="section-subtitle">ПОРТФОЛІО</span>
    <h2 class="section-title">РЕАЛІЗОВАНІ <span class="blue-text">ПРОЄКТИ</span></h2>

    <div class="projects__list">
      <div class="project-card" appScrollReveal>
        <div class="project-card__image">
          <img src="assets/images/project-gazda.JPG" alt="Gazda Group">
          <div class="project-card__year">2025 - ПРИСУТНІЙ ЧАС</div>
        </div>
        <div class="project-card__info">
          <span class="project-category">Strategic Management</span>
          <h3>GAZDA GROUP</h3>
          <p class="project-role">БРЕНД-ШЕФ МЕРЕЖІ</p>
          <p class="project-desc">
            Масштабування кулінарних концепцій, повний аудит кухонних процесів та впровадження єдиних стандартів якості для всієї мережі.
          </p>
          <div class="project-stats">
            <div class="stat"><span>7</span> Закладів</div>
            <div class="stat"><span>70+</span> Розроблених страв</div>
          </div>
        </div>
      </div>

      <div class="project-card reverse" appScrollReveal>
        <div class="project-card__image">
          <img src="assets/images/project-gastro.png" alt="Gastro Family">
          <div class="project-card__year">2023 - 2024</div>
        </div>
        <div class="project-card__info">
          <span class="project-category">Operational Excellence</span>
          <h3>GASTRO FAMILY</h3>
          <p class="project-role">ШЕФ-КУХАР / БРЕНД-ШЕФ</p>
          <p class="project-desc">
            Робота з великими потоками гостей, розробка страв для масштабних запусків та управління командами в умовах високої інтенсивності.
          </p>
          <div class="project-stats">
            <div class="stat"><span>25-30%</span> Середній рівень фудкосту</div>
            <div class="stat"><span>6</span> Напрямків кухонь</div>
          </div>
        </div>
      </div>
      <div class="project-card" appScrollReveal>
        <div class="project-card__image">
          <img src="assets/images/molodozeleno.png" alt="Molodozeleno">
          <div class="project-card__year">2018-2020</div>
        </div>
        <div class="project-card__info">
          <span class="project-category">Culinary Development</span>
          <h3>MOLODOZELENO</h3>
          <p class="project-role">ШЕФ-КУХАР</p>
          <p class="project-desc">
            Розробка та оновлення бенкетного,сезонного меню, оптимізація кухонних процесів та навчання персоналу для забезпечення високої якості страв.
          <div class="project-stats">
            <div class="stat"><span>100+</span> осіб, бенкетний зал</div>
            <div class="stat"><span>4+</span> Раз на рік оновлення меню</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
