<section id="main" class="hero">
  <div class="hero__bg"></div>

  <div class="container hero__container">
    <div class="hero__content">

      <h1 class="hero__title">
        БАЛАНС ТРАДИЦІЇ <br>
        ТА ІННОВАЦІЇ
      </h1>


      <div class="hero__cta-box">
        <p class="cta-text">
          Якщо ви шукаєте шеф-кухаря, який не просто готує, а створює
          гастрономічні концепції, що поєднують естетику високої кухні та
          математичну точність бізнес-процесів, я готовий стати вашим партнером у
          кулінарній подорожі.
        </p>
        <div class="hero__actions">
          <button class="btn-primary" (click)="scrollToContact()">ЗВ'ЯЗАТИСЯ ЗІ МНОЮ</button>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__scroll">
    <div class="mouse"></div>
    <span>СКРОЛ</span>
  </div>
</section>
